<!DOCTYPE html>
<html>
    <body>
        <h1>Short-lived Secrets</h1>

        <h2>Create a secret</h2>
        <form method="POST" action="{{url_for('post_secret', _external=True)}}">
            <label for="lifetime"> Lifetime (in seconds) </label>
            <br />
            <input name="lifetime" />
            <br />

            <label for="text">Your secret</label>
            <br />
            <textarea name="text" rows="5"> </textarea>
            <br />

            <label for="attempts"> Max attempts </label>
            <br />
            <input name="attempts" value="3" />
            <br />
            <input type="submit" value="Create Secret" />
        </form>
        <a href="{{url_for('get_home', _external=True)}}">Back home</a>
    </body>
</html>
