<!DOCTYPE html>
<html>
    <body>
        <h1>Short-lived Secrets</h1>

        <h2>Secret created</h2>

        Secret URL:
        <a
            href="{{url_for('sls.get_secret', secret_id=secret_id, _external=True)}}"
        >
            {{url_for('sls.get_secret', secret_id=secret_id, _external=True)}}
        </a>
        <br />
        Secret verifier code: {{secret.code}}<br />

        <p>
            Send the secret url and the secret code to the recipient via
            separate channels to get the most secure secret transmission
        </p>

        <a href="{{url_for('sls.get_home', _external=True)}}">Back home</a>
    </body>
</html>
