<!DOCTYPE html>
<html>
    <body>
        <h1>Short-lived Secrets</h1>

        <h2>Reveal a secret</h2>
        <form
            method="POST"
            action="{{url_for('reveal_secret', secret_id=secret_id, _external=True)}}"
        >
            <label for="code">Secret verifier code</label>
            <br />
            <input name="code" />
            <br />
            <input type="submit" value="Reveal Secret" />
        </form>
        <a href="{{url_for('get_home', _external=True)}}">Back home</a>
    </body>
</html>
